body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.header-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  position: absolute;
  top: 0;
  height: 10%;
  padding-top: .5em;
}

#logo {
  z-index: 100;
  top: 0;
  height: 4em;
  padding-left: 1em;
}

.jumbotron {
  height: 25em;
  background-image: url('../images/redsky_background.jpg');
  background-size: cover;
  /*background-attachment: fixed;*/
}

/*video#bgvid {
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(0) translateY(-40%);
    -moz-transform: translateX(0) translateY(-40%);
    -webkit-transform: translateX(0) translateY(-40%);
    transform: translateX(0) translateY(-40%);
    background-size: cover;
    opacity: .3;
    filter: grayscale(100%);
}*/

.icon-row {
  height: 100%;
  display: flex;
  align-self: center;
}

.icons {
  margin-right: .5em;
  margin-left: .5em;
  margin-bottom: .5em;
}

a .fa {
color: #444444;
}

.fa-github-square:hover, .fa-linkedin-square:hover {
    color: black;
    box-shadow: 1px;
}

#about {
  background-color: black;
  color: #83d1e0;
  padding: 2em;
}

.about h2 {
  margin-top: 0;
  padding-top: .25em;
  font-size: 5em;
  margin-bottom: .25em;
}

.about p {
  font-size: 1.55em;
  margin-right: 20em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@media only screen and (max-width: 634px) {
  .about h2 { font-size: 4em;}
   .about p { font-size: 1.1em; margin-right: 5em;}
   video {display:none}
   .header-row button{display:none}
   .icons {display: none}
   .jumbotron {background-image: url(../images/Murph1.jpg); background-size: cover}
}

@media only screen and (max-width: 770px) and (min-width: 635px) {
  .about h2 { font-size: 4em;}
   .about p { font-size: 1.5em; margin-right: 5em;}
   .mobile-image {display: none}
}

@media only screen and (max-width: 1084px) and (min-width:769px) {
   .about p { font-size: 1.5em; margin-right: 10em;}
   .mobile-image {display: none}
}

.work {
  background-color: #83d1e0;
}

.md-headline {
  font-size: 2em;
}

md-card-content p {
  font-weight: 300;
  font-size: 1.5em;
}

.technologies {
  font-weight: 500;
  font-size: 1.25em;
}

md-card {
  padding: .5em;
}

.contact-icon {
  font-size: 1.75em!important;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 1em;
}

.contact {
  min-width: 2%;
}
